	<header>
		<div class="container">
			<div class="flex-element">
				<span>FRONTEND <i class="fa fa-play" aria-hidden="true"></i> VIDEO</span>
			</div>		
		</div>
	</header>

<div class="add-form">
	<form>
		<h1>Authorization</h1>
		<div class="form-group">
			<label for="username">Usermane</label>
			<input type="text" class="form-control" id="username">
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" id="password">
		</div>

		<div class="button-wrapper">
			<button class="btn orange">Login</button>
		</div>
	</form>
</div>