	<header>
		<div class="container">
			<div class="flex-element">
				<span>FRONTEND <i class="fa fa-play" aria-hidden="true"></i> VIDEO</span>
			</div>		
		</div>
	</header>

<div class="add-form">
	<form name="loginForm">
		<h1>Authorization</h1>
		<div class="form-group">
			<label for="username">Usermane</label>
			<input ng-model="username" type="text" class="form-control" name="username" required>
			<span class="warning" ng-show="loginForm.username.$touched && loginForm.username.$invalid">Username is obligatory!</span>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input ng-model="password" type="password" class="form-control" name="password" required>
			<span class="warning" ng-show="loginForm.password.$touched && loginForm.password.$invalid">Password is obligatory!</span>
		</div>

		<div class="button-wrapper">
			<button class="btn orange" ng-disabled="loginForm.username.$invalid || loginForm.password.$invalid" ng-click="login();">Login</button>
		</div>
	</form>
</div>