	<header>
		<div class="container">
			<div class="flex-element">
				<span>FRONTEND <i class="fa fa-play" aria-hidden="true"></i> VIDEO</span>
				<div class="account-wrapper">
					<div class="avatar"></div>
					<div class="account-info">
						<span class="account-name">Ryan Kelly</span>
						<span ng-click="go('/login')" class="account-status">logout</span>
					</div>
				</div>
			</div>		
		</div>
	</header>
	
<div class="container">
	
<h1>Courses</h1>

<div class="interface">
	<form>
		<div class="form-group">
			<div class="input-group">
				<input type="text" class="form-control custom-form-control" placeholder="Type phrase for search" ng-model="searchQuery">
				<div class="custom-input-group-addon"><i class="fa fa-search"></i></div>
			</div>
		</div>
	</form>

	<div class="button-wrapper">
		<button class="btn" ng-click="archive()" ng-disabled="!archivable">Archive Selected</button>
		<button class="btn orange" ng-click="go('/items/add')">Add New</button>
	</div>
</div>
	
	<table class="table">
	
		<thead>
			<tr>
				<td class="column1">
					<input type="checkbox" ng-click="toggleAll(); searchForArchivable()">
				</td>
				<td class="column2">
					<a href="" ng-click="sortType = 'id'; sortReverse = !sortReverse">
					ID
						<span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
						<span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
					</a>
				</td>
				<td class="column3">
					<a href="" ng-click="sortType = 'title'; sortReverse = !sortReverse">
					Title
						<span ng-show="sortType == 'title' && !sortReverse" class="fa fa-caret-down"></span>
						<span ng-show="sortType == 'title' && sortReverse" class="fa fa-caret-up"></span>
					</a>
				</td>
				<td class="column4">
					<a href="" ng-click="sortType = 'author'; sortReverse = !sortReverse">
					Author
						<span ng-show="sortType == 'author' && !sortReverse" class="fa fa-caret-down"></span>
						<span ng-show="sortType == 'author' && sortReverse" class="fa fa-caret-up"></span>
					</a>
				</td>
				<td class="column5">
					<a href="">
					Duration 
					</a>
				</td>
				<td class="column6">
					<a href="">
					Action
					</a>
				</td>
			</tr>
		</thead>
		
		<tbody>
			<tr ng-repeat="item in mainArray | orderBy:sortType:sortReverse | filter:searchQuery | limitTo: paginationLimit()">
				<td>
					<input type="checkbox" ng-model="item.selected" ng-change="searchForArchivable()">
				</td>
				<td>{{ item.id }}</td>
				<td>{{ item.title }}</td>
				<td>{{ item.author }}</td>
				<td>{{ item.duration }}</td>
				<td>
					<a ng-show="!item.archived" href="" ng-click="go('/items/edit/'+item.id); edit(item)">Edit</a>
					<a ng-show="!item.archived" href="" ng-click="delete(item)">Delete</a>
					<a ng-show="item.archived" href="" ng-click="unarchive(item)">Unarchive</a>
				</td>
			</tr>
		</tbody>
	</table>
	<button class="btn" ng-click="showMore()">Show More</button>
</div>